input {
  padding: 10px 50px 10px 20px;
  color: #61dafb;
  background: #000;
  border: 1px solid #61dafb;
  color: #61dafb;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 18px;
}
