.herro {
  background-image: url("../../assets/home-image/image.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  //   background-position: center;
  height: 75vh;
  margin-top: 85px;

  .herro-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: 100%;

    h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 45px;
      font-weight: 600;
      line-height: 45px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    h2 {
      color: #fff;
      font-family: Poppins;
      font-size: 40px;
      font-weight: 600;
      line-height: 40px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      span {
        color: #61dafb;
      }
    }

    p {
      color: #fff;
      //styleName: Body 2;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin: 10px 0;
    }

    a {
      background-color: #000;
      padding: 10px 20px;
      border-radius: 10px;
      color: #61dafb;
      border: 2px solid #61dafb;
      transition: all 0.7s ease-in-out;

      &:hover {
        background-color: #61dafb;
        color: #fff;
        transform: scale(1.1);
      }
    }
  }
}
