.project-wrapper {
  margin-top: 85px;
  background-image: url("../../assets/home-image/image.png");
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  /* background-position: center; */
  min-height: 100vh;

  h2 {
    color: #fff;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0 100px 0;
    gap: 20px;
    .project-card {
      display: flex;
      flex-direction: column;
      width: 350px;
      background-color: #fff;
      border-radius: 10px;
      background: #000;
      padding: 10px;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
      }
      h3 {
        font-size: 25px;
        text-align: start;
        margin: 10px 0 0;
        color: #fff;
      }

      .project-link {
        margin: 10px 0;
        display: flex;
        justify-content: space-between;

        a {
          background-color: #000;
          padding: 5px;
          border-radius: 10px;
          color: #61dafb;
          border: 2px solid #61dafb;
        }
      }
      .topics {
        display: flex;
        gap: 3px;
        justify-content: center;
        flex-wrap: wrap;
        a {
          color: #61dafb;
          font-weight: bold;
        }
      }
    }
  }
}
