footer {
  background: #000;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  bottom: 0;

  .footer {
    display: flex;
    flex-direction: column;

    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: #61dafb;
      }

      .footer-social {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #61dafb;
          font-size: 25px;
          transition: all 0.7s ease-in-out;

          &:hover {
            color: #fff;
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
