*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1440px;
  padding: 10px 100px;
}

main {
  min-height: 100vh;
}
